@charset "utf-8";

/*공통*/
* { box-sizing:border-box;}
body{width:100%; color:#333; font:normal 12px/1.5em nanum,sans-serif;}

/*font*/
@font-face{
		font-family:nanum;
		src:url("../font/NanumGothic.eot");
		src:url("../font/NanumGothic.eot?#iefix")format("embedded-opentype"),
				url("../font/NanumGothic.ttf")format("truetype"),
				url("../font/NanumGothic.woff")format("woff");
         }


/*1680이상*/
  @media screen and ( min-width:1680px){
	  
/*grid*/ 
	.box{overflow:hidden; clear:both; margin:0 auto; width:1680px;}
	.box::before, .box::after{content:""; display:table;}
	.box::after{clear:both;}

	.list1,        .list2,        .list3,        .list4,        .list5,        .list6,        .list7,        .list8,        .list9,        .list10,        .list11,
	.list12{float:left; margin-left:10px; margin-right:10px;}

	.list1{width:120px;}      
	.list2{width:260px;}      
	.list3{width:400px;}       
	.list4{width:540px;}       
	.list5{width:680px;}      
	.list6{width:820px;}      
	.list7{width:960px;}     
	.list8{width:1100px;}     
	.list9{width:1240px;}      
	.list10{width:1380px;}     
	.list11{width:1520px;}    
	.list12{width:1660px;}     
	

/*header - top */
	#header_wrap{width:100%;background-color:#011e62;}
	.left_top{width:210px; height:20px; float:left; margin-top:3px; margin-bottom:3px;}
	.left_top ul{float:left;}
	.left_top ul li{display:inline; margin-left:10px; margin-right:10px;}
	.left_top ul li:first-child{margin-left:0;}
	.left_top ul li:last-child{margin-right:0;}
	.left_top ul li a{ color:#fff; font-size:14px;}
	.left_top ul li a:hover{ text-decoration:underline;}

	.right_top{width:210px; height:20px; float:right;}
	.right_top ul{float:right; margin-top:3px; margin-bottom:3px;}
	.right_top ul li{display:inline; margin-left:10px; margin-right:10px;}
	.right_top ul li:first-child{margin-left:0;}
	.right_top ul li:last-child{margin-right:0;}
	.right_top ul li a{ color:#fff;font-size:14px;}
	.right_top ul li a:hover{ text-decoration:underline;}
	  
 /*mobile_background*/
	#mobile_background{display:none;}
	  
 /*header_logo*/
	 #header_logo{width:100%; background-color:#fff; padding-top:15px; padding-bottom:15px;}
	.logo_wrap p.logo2{display:none;}
  	.logo_wrap p.logo1{text-align:center;}
	.logo_wrap p a{display:block;}
	  
	.nav_menu{width:100%; margin-top:25px; margin-bottom:15px;}
	.nav_menu ul{ text-align:center;}
	.nav_menu ul li{display:inline; margin-left:30px; margin-right:30px;}
	.nav_menu ul li a{color:#011e62; font-size:16px; font-weight:bold;}
	  
	  
     #nav_menu{ width:100%; height:60px; position:relative;}
	.drop_top{width:920px; height:60px; margin:0 auto;} 
	.drop_top > li{float:left; width:150px; height:50px; text-align:center; font-weight:bold; position:relative; padding-top:20px;}
	.drop_top > li > a{color:#666666; font-size:16px;}
	.drop_top > li > a:hover{color:#011e62;}
	  
	.drop_top  > li > .submenu{position:absolute;left:0;top:33px; z-index:10; height:55px; line-height:60px; padding-top:20px;}
	.drop_top  > li > .submenu > li{ float:left; }
	.drop_top  > li > .submenu > li > a{font-weight:normal; color:#666666; font-size:13px; margin:0 20px;}
	.drop_top > li > .submenu > li > a:hover{color:#011e62; border-bottom:1px solid #011e62;}

	.drop_top > li > .sub1{width:1000px;left:50px;}
	.drop_top  > li > .sub2{width:1000px;left:-100px;}
	.drop_top  > li > .sub3{width:1000px;left:-260px;}
	.drop_top  > li > .sub4{width:1000px;left:-350px;}
	.drop_top  > li > .sub5{width:1000px;left:-350px;}
	.drop_top  > li > .sub6{width:1000px;left:-617px;}
	  
	/*js*/  
	.n_bg{width:100%; height:50px; position:absolute; top:158px; left:50%; transform:translate(-50%,0); z-index:10; background-color:#fff; box-shadow:0 6px 4px -4px rgba(0,0,0,0.4);}
	  
/* m_menu ,m_hidden_menu */
	  .m_menu{display:none;}
	  .m_hidden_menu{display:none;}
      
      
/*  main_product*/
    #main_product{ width:1680px; height:auto; margin:0 auto; margin-top:50px;}
    .p_wrap{float:left;} 
    .p_wrap ul{width:400px; position: relative;}
    .p_wrap ul li:nth-child(1){ width:400px; height:20px; line-height:20px; margin-bottom:5px;}
    .p_wrap ul li:nth-child(1) a{ font-size:15px; font-weight:bold; color:#333;}
    .p_wrap ul li:nth-child(1) a span{position:absolute; right:0; top:0px;}
      
    .p_wrap ul li:nth-child(2) a{color:#666; font-size:13px; margin-bottom:5px; display:block;}
    .p_wrap ul li:nth-child(3){color:#999; font-size:13px;}

    .product_wrap1{width:400px; height:auto; margin-right:140px; margin-left:90px;}
    .product_wrap2{width:400px; height:auto; margin-right:140px}
    .product_wrap3{width:400px; height:auto; margin-right:90px;}

      
/*      main_video_wrap*/
      #main_video_wrap{ width:100%; height:100%; margin-top:150px;}
      #main_video_wrap video{width:100%; height:100%;}
      
/*  weekly_best*/
      #weekly_best{width:100%; height:auto; overflow:hidden; margin-top:80px; margin-bottom:80px;}
      #weekly_best p{font-size:30px; width:100%; height:100px; text-align:center; line-height:100px;  font-weight:bold; letter-spacing:0.2em; color:#011e62; margin:0 auto;}
      
      
/*weekly_menu*/
    #weekly_menu{width:100%; height:100%;}

    .w_menu1,        .w_menu2,       .w_menu3,       .w_menu4{float:left; width:415px; height:415px; position:relative;}
      
    .w_menu1 p,    .w_menu2 p,    .w_menu3 p,    .w_menu4 p{ position: absolute; left:50%; top:50%;  transform:translate(-50%,-50%); z-index:25;  transition:all 0.3s ease;}
      
    .w_menu1 p a,    .w_menu2 p a,    .w_menu3 p a,    .w_menu4 p a{ color:#fff; width:100px; height:30px; text-align:center;  line-height:30px;font-size:30px; display:block;  opacity:0;  transition:all 0.3s ease;}

    .w_menu1  div::after,    .w_menu2  div::after,    .w_menu3  div::after,     .w_menu4  div::after{content:""; background-color:rgba(0,0,0,0.7); 	position:absolute; top:0; right:0; bottom:0; left:0; z-index:20; opacity:0;  transition:all 0.3s ease;}

      .w_menu1:hover p a,     .w_menu2:hover p a,     .w_menu3:hover p a,     .w_menu4:hover p a{opacity:1; }
      .w_menu1:hover div::after,    .w_menu2:hover div::after,    .w_menu3:hover div::after,    .w_menu4:hover div::after{opacity:1;}
      
      
} /*1680이상 end*/


@media screen and (min-width:768px) and ( max-width:1679px){
/*grid*/ 
	 .box{overflow:hidden; width:100%; clear:both; }

	.list1, .list2,    .list3,    .list4,    .list5,    .list6,    .list7,    .list8,    .list9,    .list10,    .list11,    .list12{float:left; margin-left:2%;}
	.box [class*="list"]:first-child{margin-left:0;}

	.list1{width:6.5%;}       
	.list2{width:15%;}    
	.list3{width:23.5%}       
	.list4{width:32%}     
	.list5{width:40.5%}       
	.list6{width:49%}     
	.list7{width:57.5%}       
	.list8{width:66%}     
	.list9{width:74.5%}       
	.list10{width:83%}       
	.list11{width:91.5%}      
	.list12{width:100%}   
	
/*header - top */
	#header_wrap{width:100%; background-color:#011e62;}
	.left_top{width:50%; height:auto; float:left;margin-top:5px; margin-bottom:5px;}
	.left_top ul{float:left;  width:80%; margin-left:10px;}
	.left_top ul li{display:inline; margin-left:15px; margin-right:15px;}
	.left_top ul li:first-child{margin-left:15px;}
	.left_top ul li:last-child{margin-right:15px;}
	.left_top ul li a{ color:#fff; font-size:15px;}
	.left_top ul li a:hover{ text-decoration:underline;}

	.right_top{width:50%; height:auto;  float:right; margin-top:5px; margin-bottom:5px;}
	.right_top ul{float:right;margin-right:10px;}
	.right_top ul li{display:inline;  margin-left:15px; margin-right:15px;}
	.right_top ul li:first-child{margin-left:15px;}
	.right_top ul li:last-child{margin-right:15px;}
	.right_top ul li a{ color:#fff; font-size:15px;}
	.right_top ul li a:hover{text-decoration:underline;}
	
 /*mobile_background*/
	#mobile_background{display:none;}
	
 /*header_logo*/
	 #header_logo{width:100%; background-color:#fff; padding-top:20px; padding-bottom:20px;}
	.logo_wrap p.logo2{display:none;}
  	.logo_wrap p.logo1{text-align:center;}
	.logo_wrap p a{display:block}
  	.logo_wrap p a img{text-align:center;}
		
	 #nav_menu{ width:100%; height:60px; position:relative;}
	.drop_top{width:920px; height:60px; margin:0 auto;} 
	.drop_top > li{float:left; width:150px; height:50px; text-align:center; font-weight:bold; position:relative; padding-top:20px;}
	.drop_top > li > a{color:#666666; font-size:16px;}
	.drop_top > li > a:hover{color:#011e62;}
	  
	.drop_top  > li > .submenu{position:absolute;left:0;top:33px; z-index:10; height:55px; line-height:60px; padding-top:20px;}
	.drop_top  > li > .submenu > li{ float:left; }
	.drop_top  > li > .submenu > li > a{font-weight:normal; color:#011e62; font-size:14px; margin:0 20px; font-weight:bold;}

	.drop_top > li > .sub1{width:1000px;left:40px;}
	.drop_top  > li > .sub2{width:1000px;left:-112px;}
	.drop_top  > li > .sub3{width:1000px;left:-275px;}
	.drop_top  > li > .sub4{width:1000px;left:-350px;}
	.drop_top  > li > .sub5{width:1000px;left:-350px;}
	.drop_top  > li > .sub6{width:1000px;left:-617px;}
	  
	/*js*/  
	.n_bg{width:100%; height:70px; position:absolute; top:158px; left:50%; transform:translate(-50%,0); z-index:10; background-color:#fff; box-shadow:0 6px 4px -4px rgba(0,0,0,0.4);}
	
	
	.nav_menu{width:100%; margin-top:25px; margin-bottom:15px;}
	.nav_menu ul{ text-align:center;}
	.nav_menu ul li{display:inline; margin-left:30px; margin-right:30px;}
	.nav_menu ul li a{color:#011e62; font-size:16px; font-weight:bold;}
	
	/* m_menu ,m_hidden_menu */
	  .m_menu{display:none;}
	  .m_hidden_menu{display:none;}
	
          
/*  main_product*/
    #main_product{ width:100%; height:auto; margin:0 auto; margin-top:50px; }
    .p_wrap{float:left; width:30%;} 
    .p_wrap img{width:70%; height:auto; margin:0 15%;}
    .p_wrap ul{width:85%; height:auto; overflow:hidden; position: relative; margin:0 auto;}
    .p_wrap ul li:nth-child(1){ width:85%; height:auto; line-height:20px; margin-bottom:5px;}
    .p_wrap ul li:nth-child(1) a{ font-size:14px; font-weight:bold; color:#333;}
    .p_wrap ul li:nth-child(1) a span{position:absolute; right:0; top:0px;}
      
    .p_wrap ul li:nth-child(2) a{color:#666; font-size:13px; margin-bottom:5px; display:block;}
    .p_wrap ul li:nth-child(3){color:#999; font-size:13px;}

    .product_wrap1{width:33.33%; height:auto;}
    .product_wrap2{width:33.33%; height:auto;}
    .product_wrap3{width:33.33%; height:auto;}    
   
          
/* main_video_wrap */
    #main_video_wrap{ width:100%; height:100%; margin-top:10%;}
    #main_video_wrap video{width:100%; height:100%; }
      
/*  weekly_best*/
	#weekly_best{width:100%; height:auto; overflow:hidden; margin-top:5%; margin-bottom:5%;}
	#weekly_best p{font-size:25px; width:90%; height:auto; margin:0 auto; text-align:center; line-height:100px;  font-weight:bold; letter-spacing:0.2em; color:#011e62; }
    
/*weekly_menu*/
	#weekly_menu{width:100%; height:50%;}

	#weekly_menu img{width:100%; height:100%;}

	.w_menu1,.w_menu2, .w_menu3,.w_menu4{float:left; width:25%; height:50%; position:relative; }
	.w_menu1 p,.w_menu2 p,.w_menu3 p,.w_menu4 p{ width:100%; height:auto; position: absolute; left:50%; top:50%;  transform:translate(-50%,-50%); z-index:25; }

	.w_menu1 p a,.w_menu2 p a,.w_menu3 p a,.w_menu4 p a{ color:#fff; width:100%; height:30px; text-align:center;  line-height:30px; font-size:25px; display:block;  opacity:1; }

	.w_menu1  div::after,.w_menu2  div::after,.w_menu3  div::after,.w_menu4  div::after{content:"";  width:100%; height:auto; background-color:rgba(0,0,0,0.3); position:absolute; top:0; right:0; bottom:0; left:0; z-index:20; opacity:1; }

      
    
	
}/*768~ 1679 end*/

/*767 이하*/
@media screen and ( max-width:767px){
/*grid*/ 
 	.box{overflow:hidden; width:100%; clear:both; min-width:320px;}

	.list1, .list2,    .list3,    .list4,    .list5,    .list6,    .list7,    .list8,    .list9,    .list10,    .list11,    .list12{float:left; margin-left:2%;}

	.box [class*="list"]:first-child{margin-left:0;}

	.list1{width:6.5%;}       
	.list2{width:15%;}    
	.list3{width:23.5%}       
	.list4{width:32%}     
	.list5{width:40.5%}       
	.list6{width:49%}     
	.list7{width:57.5%}       
	.list8{width:66%}     
	.list9{width:74.5%}       
	.list10{width:83%}       
	.list11{width:91.5%}      
	.list12{width:100%}  	
	
	/*header - top */
	#header_wrap{width:100%; height:auto; position:relative;}
	.left_top{display:none;}	
	.right_top{display:none;}
	
 /*header_logo*/
	 #header_logo{width:0%; height:0%; background-color:#fff; padding-top:20px; padding-bottom:20px;}
  	.logo_wrap p{text-align:center; width:100%; }
  	.logo_wrap p.logo1{display:none;}
  	.logo_wrap p.logo2 img{width:17%; height:auto; text-align:center; position:absolute; top:35px; left:50%; transform:translate(-50%,0); }
	.nav_menu{display:none;}
	
 /*mobile_background*/ 
	#mobile_background p{width:100%; height:auto;}
	#mobile_background p a{display:block;}
	#mobile_background p img{width:100%; height:auto;}	
	
/*	m_hidden menu , m_menu   */
	.m_menu{width:100%; }
	.menu_01{position:fixed; top:10px; left:13px; width:40px; height:auto; z-index:20;}
	.menu_02{position:fixed; top:16px; right:13px; width:32px; height:auto; z-index:20;}
    
    .m_hidden_menu{width:50%; height:100%; position:fixed; top:0; left:-50%;  z-index:30; background-color:rgba(0,0,0,0.9);}
    .m_hidden_menu ul{; width:100%; height:100%; margin-top:50px; }
    .m_hidden_menu ul li{width:165px; height:35px; text-align: left; text-indent:2em; line-height:35px; margin-top:30px;}
    .m_hidden_menu ul li a{ color:#fff; font-size:23px; font-weight:bold;}
    
    .close_btn{color:#fff; position:absolute;top:15px; right:15px; z-index:30; font-size:30px; font-weight:bold;}
    
	#nav_menu{display:none;}
	
/*    touchSlider11*/
    #touchSlider11{display:none;}
    .ts-controls{display:none;}
    .ts-paging{display:none;}
    
    
    /*  main_product*/
    #main_product{ width:100%; height:auto; margin:0 auto;}
    .p_wrap{float:left; width:100%;  margin:0 auto; margin-bottom:3%;} 
    .p_wrap img{width:65%; height:auto; margin:0 17.5%;}
    .p_wrap ul{width:95%; height:auto; overflow:hidden; position: relative; margin:0 auto;}
    .p_wrap ul li:nth-child(1){ width:100%; height:auto; line-height:20px; margin-bottom:3%}
    .p_wrap ul li:nth-child(1) a{ font-size:17px; font-weight:bold; color:#333;}
    .p_wrap ul li:nth-child(1) a span{position:absolute; right:0; top:0px;}
      
    .p_wrap ul li:nth-child(2) a{color:#666; font-size:15px; margin-bottom:2%; display:block; text-align:center; }
    .p_wrap ul li:nth-child(3){color:#999; font-size:15px; text-align:center; margin-bottom:2%;}

    .product_wrap1{width:100%; height:auto;}
    .product_wrap2{display:none;} 
    .product_wrap3{width:100%; height:auto;}
    
    
/* main_video_wrap */
    #main_video_wrap{ width:100%; height:100%; margin-top:7%;}
    #main_video_wrap video{width:100%; height:100%; min-width:320px;}
      
    
/*  weekly_best*/
  #weekly_best{width:100%; height:auto; overflow:hidden; margin-top:3%; margin-bottom:3%;}
  #weekly_best p{font-size:20px; width:80%; height:auto; margin:0 auto; text-align:center; line-height:100px;  font-weight:bold; letter-spacing:0.2em; color:#011e62; }

/*weekly_menu*/
	#weekly_menu{width:90%; height:90%; margin:0 auto;}

	#weekly_menu img{width:100%; height:100%;}

	.w_menu1,.w_menu2, .w_menu3,.w_menu4{width:100%; height:100%; position:relative; }
	.w_menu1 p,.w_menu2 p,.w_menu3 p,.w_menu4 p{ width:100%; height:auto; position: absolute; left:50%; top:50%;  transform:translate(-50%,-50%); z-index:25; }

	.w_menu1 p a,.w_menu2 p a,.w_menu3 p a,.w_menu4 p a{ color:#fff; width:100%; height:100%; text-align:center;  line-height:30px; font-size:25px; display:block;  opacity:1; }

	.w_menu1  div::after,.w_menu2  div::after,.w_menu3  div::after,.w_menu4  div::after{content:"";  width:100%; height:99%; background-color:rgba(0,0,0,0.3); position:absolute; top:0; right:0; bottom:0; left:0; z-index:20; opacity:1; }  
    
}/*767 이하*/
