@charset "utf-8";
    
    
/*1680이상*/
  @media screen and ( min-width:1680px){
	  
/*grid*/ 
	.box{overflow:hidden; clear:both; margin:0 auto; width:1680px;}
	.box::before, .box::after{content:""; display:table;}
	.box::after{clear:both;}

	.list1, .list2, .list3, .list4, .list5, .list6, .list7, .list8, .list9, .list10, .list11, .list12{
        float:left; 
        margin-left:10px; 
        margin-right:10px;
      }

	.list1{width:120px;}      
	.list2{width:260px;}      
	.list3{width:400px;}       
	.list4{width:540px;}       
	.list5{width:680px;}      
	.list6{width:820px;}      
	.list7{width:960px;}     
	.list8{width:1100px;}     
	.list9{width:1240px;}      
	.list10{width:1380px;}     
	.list11{width:1520px;}    
	.list12{width:1660px;}     
	
      
/* alert */
#alert{
    opacity:0;
      }
#alert div{    
    position:fixed;
    top:30%; left:12%; 
    z-index:100; 
    width:300px; 
    height:300px;
    background-color:#011e62;
    border-radius:50%; 
      } 
#alert div > p{
    color:#fff; 
    font-size:13px; 
    width:300px;
    height:200px;
    position:absolute;
    top:50%; left:50%; 
    transform:translate(-50%,-50%); 
    text-align:center; 
    line-height:1.7em;
      }
#bell{
    font-size:35px;
    margin-bottom:35px;
      }
#alert div > a{ 
    position:absolute; 
    top:260px; left:50% ;
    transform:translate(-50%,-50%); 
    color:#fff; 
    font-size:25px; 
    display:block;
      }
#alert div > a:hover{
    color:#999;
      }    

/*header - top */
	#header_wrap{
        width:100%;
        background-color:#011e62;
      }
	.left_top{
        width:210px; 
        height:20px; 
        float:left; 
        margin-top:3px; 
        margin-bottom:3px;
      }
	.left_top ul{
        float:left;
      }
	.left_top ul li{
        display:inline; 
        margin-left:10px; 
        margin-right:10px;
      }
	.left_top ul li:first-child{
        margin-left:0;
      }
	.left_top ul li:last-child{
        margin-right:0;
      }
	.left_top ul li a{ 
        color:#fff; font-size:14px;
      }
	.left_top ul li a:hover{ 
        text-decoration:underline;
      }

	.right_top{
        width:210px; 
        height:20px; 
        float:right;
      }
	.right_top ul{
        float:right; 
        margin-top:3px; 
        margin-bottom:3px;
      }
	.right_top ul li{
        display:inline;
        margin-left:10px; 
        margin-right:10px;
      }
	.right_top ul li:first-child{
        margin-left:0;
      }
	.right_top ul li:last-child{
        margin-right:0;
      }
	.right_top ul li a{ 
        color:#fff;
        font-size:14px;
      }
	.right_top ul li a:hover{
        text-decoration:underline;
      }
	  
 /*mobile_background*/
	#mobile_background{
        display:none;
      }
	  
 /*header_logo*/
	 #header_logo{
         width:100%; 
         background-color:#fff; 
         padding-top:15px; 
         padding-bottom:15px;
      }
	.logo_wrap p.logo2{
        display:none;
      }
  	.logo_wrap p.logo1{
        text-align:center;
      }
	.logo_wrap p a{
        display:block;
      }
	  
      
/*  nav_menu */	  
     #nav_menu{ 
         width:100%; 
         height:60px; 
         position:relative;
      }
	.drop_top{
        width:920px; 
        height:60px; 
        margin:0 auto;
      } 
	.drop_top > li{
        float:left; 
        width:150px;
        height:50px; 
        text-align:center; 
        font-weight:bold; 
        position:relative; 
        padding-top:17px;
        transition:all 0.3s;
      }
	.drop_top > li > a{
        color:#666666; 
        font-size:16px; 
        padding:5px;
      }
	.drop_top > li > a:hover{
        color:#011e62;
      }
	  
	.drop_top  > li > .submenu{
        position:absolute;
        left:0;top:33px; 
        z-index:10; 
        height:55px; 
        line-height:60px; 
        padding-top:20px;
      }
	.drop_top  > li > .submenu > li{ 
        float:left; 
        height:345px; 
      }
	.drop_top  > li > .submenu > li > a{
        font-weight:normal; 
        color:#666; 
        font-size:14px; 
        margin:0 20px; 
        transition:all 0.3s; 
        padding:5px;
      } 
	.drop_top > li > .submenu > li > a:hover{
        color:#011e62
            ;}
	  

	/*sub menu 안의 상세 메뉴 */
	.sub_shoes,.sub_cloth,.sub_acc,.sub_sports{
        position:relative;
      } 
	.drop_top  > li > .submenu > li.sub_shoes > ul,
	.drop_top  > li > .submenu > li.sub_cloth > ul,
	.drop_top  > li > .submenu > li.sub_acc > ul,
	.drop_top  > li > .submenu > li.sub_sports > ul{
        position: absolute;
        top:50px; left:50%; 
        transform:translate(-50%,0); 
        cursor:pointer; 
        margin-top:3px;
      }

	.drop_top  > li > .submenu > li.sub_shoes > ul > li,
	.drop_top  > li > .submenu > li.sub_cloth > ul > li,
	.drop_top  > li > .submenu > li.sub_acc > ul > li,
	.drop_top  > li > .submenu > li.sub_sports > ul > li{
        height:20px; 
        width:75px; 
        display:block; 
        font-weight:normal; 
        line-height:20px; 
        margin-bottom:6px; 
        color:#888; 
        transition:all 0.3s; 
        font-size:13px; 
      }	 

	.drop_top  > li > .submenu > li.sub_shoes > ul > li:hover,
	.drop_top  > li > .submenu > li.sub_cloth > ul > li:hover,
	.drop_top  > li > .submenu > li.sub_acc > ul > li:hover,
	.drop_top  > li > .submenu > li.sub_acc > ul > li:hover,
	.drop_top  > li > .submenu > li.sub_sports > ul > li:hover{
        color:#011e62;
      }


	.drop_top > li > .sub1{width:950px; left:10px;}
	.drop_top > li > .sub2{width:950px; left:-140px;}
	.drop_top > li > .sub3{width:950px; left:-290px;}
	.drop_top > li > .sub4{width:950px; left:-350px;}
	.drop_top > li > .sub5{width:950px; left:-350px;}
	.drop_top > li > .sub6{width:950px; left:-617px;}

	/*js*/  
	.n_bg{
        width:100%; 
        height:365px; 
        position:absolute; 
        top:156px; left:50%;
        transform:translate(-50%,0); 
        z-index:10; 
        background-color:rgba(255,255,255,0.9); 
        box-shadow:0 6px 4px -4px rgba(0,0,0,0.4); 
      }

	  
/* m_menu ,m_hidden_menu */
	.m_menu{
        display:none;
      }
	.m_hidden_menu{
        display:none;
      }
      
      
/*  main_product*/
    #main_product{ 
        width:1680px; 
        height:auto; 
        margin:0 auto; 
        margin-top:50px;
      }
    .p_wrap{
        float:left;
      } 
    .p_wrap ul{
        width:400px; 
        position: relative;
      }
    .p_wrap ul li:nth-child(1){ 
        width:400px; 
        height:20px; 
        line-height:20px; 
        margin-bottom:5px;
      }
    .p_wrap ul li:nth-child(1) a{ 
        font-size:15px; 
        font-weight:bold; 
        color:#333;
      }
    .p_wrap ul li:nth-child(1) a span{
        position:absolute; 
        right:0; top:0px;
      }
      
    .p_wrap ul li:nth-child(2) a{
        color:#666; 
        font-size:13px; 
        margin-bottom:5px; 
        display:block;
      }
    .p_wrap ul li:nth-child(3){
        color:#999; 
        font-size:13px;
      }

    .product_wrap1{width:400px; height:auto; margin-right:140px; margin-left:90px;}
    .product_wrap2{width:400px; height:auto; margin-right:140px}
    .product_wrap3{width:400px; height:auto; margin-right:90px;}

      
/* main_video_wrap*/
	#main_video_wrap{ 
        width:100%; 
        height:100%; 
        margin-top:150px;
      }
	#main_video_wrap video{
        width:100%; 
        height:100%;
      }
      
/* weekly_best*/
	#weekly_best{
        width:100%; 
        height:auto; 
        overflow:hidden; 
        margin-top:80px; 
        margin-bottom:80px;
      }
	#weekly_best p{
        font-size:30px; 
        width:100%; 
        height:100px; 
        text-align:center; 
        line-height:100px;  
        font-weight:bold; 
        letter-spacing:0.2em; 
        color:#333; 
        margin:0 auto;
      }
      
      
/*weekly_menu*/
    #weekly_menu{
        width:100%; 
        height:100%;
      }

	.w_menu1, .w_menu2, .w_menu3, .w_menu4{
        float:left; 
        width:415px; 
        height:415px; 
        position:relative;
      }

	.w_menu1 p, .w_menu2 p, .w_menu3 p, .w_menu4 p{ 
        position: absolute; 
        left:50%; top:50%;  
        transform:translate(-50%,-50%);
        z-index:25;  
        transition:all 0.3s ease; 
      }

	.w_menu1 p a, .w_menu2 p a, .w_menu3 p a, .w_menu4 p a{ 
        color:#fff; 
        width:100px; 
        height:30px; 
        text-align:center;  
        line-height:30px;
        font-size:30px; 
        display:block;  
        opacity:0;  
        transition:all 0.3s ease;
      }

    .w_menu1 div::after, 
    .w_menu2 div::after, 
    .w_menu3 div::after, 
    .w_menu4 div::after{
        content:"";
        background-color:rgba(0,0,0,0.7);
        position:absolute; 
        top:0; right:0; bottom:0; left:0; 
        z-index:20; 
        opacity:0;  
        transition:all 0.3s ease;
      }

    .w_menu1:hover p a,
    .w_menu2:hover p a, 
    .w_menu3:hover p a, 
    .w_menu4:hover p a{
        opacity:1;
      }

    .w_menu1:hover div::after, 
    .w_menu2:hover div::after,
    .w_menu3:hover div::after,
    .w_menu4:hover div::after{
          opacity:1; 
          cursor:pointer;
      }

      
/* kids_product*/
	#kids_product{ 
        width:1680px; 
        height:auto; 
        margin:0 auto; 
        margin-top:50px;
      }
	.k_wrap{
        float:left;
      } 
	.k_wrap ul{
        width:400px; 
        position: relative;
      }
	.k_wrap ul li:nth-child(1){ 
        width:400px; 
        height:20px; 
        line-height:20px; 
        margin-bottom:5px;
      }
	.k_wrap ul li:nth-child(1) a{ 
        font-size:15px; 
        font-weight:bold; 
        color:#333;
      }
	.sale{
        position:absolute; 
        top:0; right:73px; 
        color:#cd2027; 
        font-size:13px;
      }
	.price{ 
        position: absolute; 
        right:0; top:0;
      }
	.b_price{ 
        position:absolute; 
        right:5px; top:18px; 
        text-decoration:line-through;
        color:#aaa; 
        font-weight:bold; 
      }            
	.k_wrap ul li:nth-child(2) a{
        color:#666; 
        font-size:13px; 
        margin-bottom:5px; 
        display:block;
      }
	.k_wrap ul li:nth-child(3){
        color:#999; 
        font-size:13px;
      }

	.kids_wrap1
      {width:400px; 
          height:auto; 
          margin-right:140px; 
          margin-left:90px;
      }
	.kids_wrap2{
        width:400px; 
        height:auto; 
        margin-right:140px;
      }
	.kids_wrap3{
        width:400px; 
        height:auto; 
        margin-right:90px;
      }
      
      
          
/* full_bg_wrap*/
    #full_bg_wrap{ 
        clear:both; 
        width:100%; 
        height:auto;  
        margin:0 auto; 
        margin-top:200px;
      }    
	#pc_wrap{
        width:1680px; 
        height:1000px; 
        position:relative; 
        cursor:pointer; 
        margin:0 auto;
      }
	#pc_wrap p:first-child{
        width:100%; 
        height:800px; 
        background:url(../images/jou.jpg) no-repeat center fixed;
        color:transparent;
        font-size:0;
      }
	#pc_wrap p:last-child{
        position:absolute; 
        left:50%; 
        bottom:-100px; 
        transform:translate(-50%, 0);
      }
	#pc_wrap p:last-child img{
        transform:rotate(0deg);
      }
	  
/*상품 애니메이션 효과 js */
	.s_img1{
        position:absolute; 
        bottom:170px; left:500px; 
        z-index:15; 
      }
	.s_img1 img{
        width:300px; 
        height:auto; 
        transform:rotate(-25deg);
      }
	.s_img2{
        position: absolute; 
        bottom:280px; left:800px; 
        z-index:20;
      }
	.s_img2 img{
        width:400px; height:auto;
        transform:rotate(390deg) scaleX(-1);
      }
	.s_img3{
        position:absolute; 
        top:875px; 
        z-index:10;
      }
	.s_img3 img{
        width:600px;
        height:auto;
      }
	
	.jou_t{
        display:none;
      }
	.jou_m{
        display:none;
      }
      
      
/* new_kicks_wrap*/
	#new_kicks_wrap{ 
        width:100%; 
        height:820px;  
        background-color:#343434; 
        margin-top:200px; 
      }
	.kicks_img{
        width:100%; 
        height:820px; 
        position:relative;
      }
	#new_kicks_wrap a{ 
        display:block;
        margin:0 auto; 
      }
	.kicks1{
        position:absolute;  
        top:60px; left:30px; 
      }
	.kicks2{
        position:absolute;  
        top:60px; right:30px;
      }
              
      
/* kids_product*/
	#sport_menu{ 
        width:1680px; 
        height:auto; 
        margin:0 auto; 
        margin-top:130px;
      }
	.s_wrap{
        float:left;
      } 
	.s_wrap img{ 
        width:400px; 
        height:400px;
      } 
    
	.sport_wrap1{ 
        position:relative; 
        width:400px; 
        height:auto; 
        margin-right:140px; 
        margin-left:90px;
      }
	.sport_wrap2{ 
        position:relative; 
        width:400px; 
        height:auto; 
        margin-right:140px;
      }
	.sport_wrap3{ 
        position:relative; 
        width:400px; 
        height:auto; 
        margin-right:90px;
      }

	.s_menu{
        font-style:italic; 
        font-weight:bold; 
        font-size:27px; 
        position: absolute; 
        top:37px; left:30px; 
        z-index:10; 
        letter-spacing:0.1em;
      }
      
      
  /* cloth_menu*/
    #cloth_menu{ 
        width:1680px; 
        height:auto; 
        margin:0 auto; 
        margin-top:130px;
      }
    .c_wrap{
        float:left; 
        overflow:hidden; 
      }  
    .c_wrap img{ 
        width:400px; 
        height:400px; 
        transform:scale(1.0); 
        opacity:1;  
        transition:all 0.3s;
      }  
    
    .cloth_menu1{ 
        position:relative; 
        width:400px;
        height:auto; 
        margin-right:140px; 
        margin-left:90px;
      }
    .cloth_menu2{ 
        position:relative; 
        width:400px; 
        height:auto; 
        margin-right:140px;
      }
    .cloth_menu3{ 
        position:relative; 
        width:400px; 
        height:auto; 
        margin-right:90px;
      }
    
   .c_menu{ 
       width:100%; 
       height:auto;  
       text-align:center; 
       font-style:italic; 
       font-weight:bold; 
       font-size:27px; 
       position: absolute; 
       bottom:50%; left:50%; 
       transform:translate(-50%,-50%); 
       z-index:10; 
       color:#444; 
       display:none;
      }
      
	.c_wrap:hover p.c_menu{
        display:block;
      }
	.c_wrap:hover img {
        transform:scale(1.1); 
        opacity:.5;
      }
      
	  
/*top_bottom*/
    #top_bottom{ 
        position: fixed; 
        top:50%; right:0; 
        transform:translate(0,-50%);
      }
    #top_bottom > p {
        width:50px; 
        height:50px;
      }
    #top_bottom > p > a { 
        display:block; 
        color:rgba(225,225,225,0.8); 
        width:50px; 
        height:50px;
      }
    #top_bottom > p > a > i{  
        font-size:40px; 
        padding:3px; 
        transition:all 0.3s;
      }
    #top_bottom > p > a:hover > i {
        color:rgba(225,225,225,1);
      }	  
	  
/*bottom_join*/
	#bottom_join{
        width:100%; 
        height:367px;
        margin-top:140px;
      }
	#bottom_join div{
        position:relative;
      }
	#bottom_join div > img{ 
        width:100%; 
        height:376px; 
        cursor:pointer;
      }
  	#bottom_join div > h1{
        font-size:40px; 
        font-style:italic; 
        width:600px; 
        height:40px; 
        color:#011e62; 
        line-height:40px; 
        position:absolute; 
        top:100px; left:200px; 
        cursor:pointer;
      }
	#bottom_join div > p{
        font-size:16px; 
        width:500px; 
        height:20px; 
        line-height:22px; 
        text-align:center; 
        color:#011e62;
        font-weight:bold; 
        letter-spacing:0.1em; 
        position:absolute;
        bottom:150px; 
        left:200px; 
        cursor:pointer;
      }
    .join_img_m{
        display:none;
      }   
      
/*bottom - 키워드 롤링 */
    #bottom{
        width:100%; 
        height:auto; 
        background-color:#011e62; 
        margin-top:9px;
      }
    .border{
        width:100%; 
        height:1px; 
        clear:both;        
        border-bottom:1px solid #fff; 
      }

    #key_rolling{
        width:1680px; 
        height:60px; 
        margin:0 auto; 
        margin:0 auto; 
        overflow:hidden;
      }	 
    #key_rolling > div{
        width:400px; 
        height:100px;  
        float:left; 
        margin-left:230px;
      }
    #key_rolling > div:nth-child(2){
        margin-left:0;
      }
    #key_rolling > div:last-child{
        margin-left:0;
      }

    #key_rolling > div > p{ 
        color:#fff; 
        font-size:15px;
        font-weight:bold; 
        width:55px; 
        height:60px; 
        text-align:center; 
        padding-top:20px; 
        float:left; 
        margin-left:10px; 
        position:relative;
      }

    #key_rolling > div > p span{
        position:absolute;  
        top:21px; left:275px;
      }
    #key_rolling > div > p span > i{ 
        font-size:12px; 
        width:15px; 
        height:15px; 
        line-height:12px; 
        text-indent:0.5px; 
        border-radius:50px; 
        border:1px solid #fff;
      }

    .news_wrap{
        position:relative;
      }
    .news_wrap > ul{
        width:200px; 
        height:20px; 
        position:absolute; 
        top:20px; left:100px;  
        overflow:hidden;
      }
    .news_wrap > ul > li {
        width:170px; 
        height:20px;
      }
    .news_wrap > ul > li > a{
        color:#fff;
        font-size:13px; 
        display:block;  
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;
      }

    .event_wrap{
        position:relative;
      }
    .event_wrap > ul{ 
        width:200px; 
        height:20px; 
        position:absolute; 
        top:20px; left:100px;
        overflow:hidden;
      }
    .event_wrap > ul > li {
        width:170px; 
        height:20px; 
      }
    .event_wrap > ul > li > a{
        color:#fff;
        font-size:13px; 
        display:block;  
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;
      }

    .hot_wrap{
        position:relative;
      }
    .hot_wrap > ul{ 
        width:200px; 
        height:20px; 
        position:absolute; 
        top:20px; left:100px;  
        overflow:hidden;
      }
    .hot_wrap > ul > li {
        width:170px; 
        height:20px;  
        text-indent:1.7em;
      }
    .hot_wrap > ul > li > a{
        color:#fff;
        font-size:13px;
        display:block;  
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;
      }
	  
/*  bottom_body*/
	#bottom_body{
        width:100%; 
        height:auto;
      }
	.b_body_wrap{ 
        width:1680px; 
        height:auto; 
        margin: 0 auto; 
        position:relative;
      }

	.b_body_wrap h2{
        width:96px; 
        height:32px; 
        position:absolute; 
        top:50%; left:100px; 
        transform:translate(0,-50%);
      }
	.b_body_wrap h2 img{
        width:96px; 
        height:32px;
      }


	.bottom_nav{
        width:1680px; 
        height:300px;
        position:relative;
      }

	.about{
        width:250px; 
        height:auto; 
        position:absolute; 
        top:25px; left:350px;
      }  
	.about p{
        padding-top:15px; 
        padding-bottom:15px; 
        text-align:center;
      }
	.about p a{
        color:#fff; 
        font-size:14px; 
        transition:all 0.3s;
      }
	.about p:hover a{
        color:rgba(255,255,255,0.8);
      }	  

	.site_find{
        width:250px; 
        height:auto; 
        position:absolute;
        top:25px; left:600px;
      }
	.site_find p{
        padding-top:15px; 
        padding-bottom:15px; 
        text-align:center; 
      }
	.site_find p a{
        color:#fff; 
        font-size:14px; 
        transition:all 0.3s;
      }
	.site_find p:hover a{
        color:rgba(255,255,255,0.8);
      }

	.customercenter{ 
        width:250px; 
        height:auto; 
        position:absolute;
        top:25px; left:850px;
      }
	.customercenter p{
        line-height:1.8em; 
        text-align:center;  
        color:#fff; 
        font-size:14px;
      }
	.customercenter p a{ 
        color:#fff;
      }
	.customercenter p span{ 
        line-height:2.3em;
      }


	.order_qa{
        width:250px;
        height:auto; 
        position:absolute;
        top:25px; 
        left:1100px;
      }
	.order_qa p{
        padding-top:15px; 
        padding-bottom:15px; 
        text-align:center; 
      }
	.order_qa p a{
        color:#fff; 
        font-size:14px; 
        transition:all 0.3s;
      }
	.order_qa p:hover a{
        color:rgba(255,255,255,0.8);
      }	  	  


	.social{
        width:250px; 
        height:auto; 
        position:absolute;
        top:25px; left:1350px;
      }
	.social p{
        padding-top:15px; 
        padding-bottom:15px;
        text-align:center; 
      }
	.social p a{ 
        color:#fff; 
        transition:all 0.3s;
      }
	.social p a i{
        font-size:30px;
      }
	.social p:hover a{
        color:rgba(255,255,255,0.8);
      }	  	 

	  
/*copyright*/
	#copyright{
        border-top:1px solid #fff; 
        border-bottom:1px solid #fff; 
        width:100%; 
        height:60px; 
        position:relative;
      }
	#copyright p{
        color:#fff; 
        width:220px; 
        height:auto; 
        display:inline; 
        font-size:0.8em;
      }	  
	#copyright p:nth-child(1){position: absolute; top:22px; left:100px;}  
	#copyright p:nth-child(2){position: absolute; top:22px; right:320px;}  
	#copyright p:nth-child(3){position: absolute; top:22px; right:210px;}  
	#copyright p:nth-child(4){position: absolute; top:22px; right:100px;}  
	  
/*address*/
	  #address{
          width:100%; 
          height:auto;
      }
	  #address address{
          width:1100px;
          height:auto;
          color:#fff;
          font-style:normal;
          margin:0 auto;
          margin-top:20px;
          padding-bottom:20px; 
          text-align:center; 
          line-height:1.7em; 
          font-size:13px;
      }
	  #address address span{ 
          margin-left:1px; 
          margin-right:1px;
      }
	  #address address a{ 
          color:#fff;
      }	  
	  
	 
	  
} /*1680이상 end*/
